<%= link_to "Back to #{ @region.name } Posts", region_path(@region) %>

<%= button_to "Create Post", new_region_post_path(@region), method: :get %>

<h2><%= @category.name %></h2>

<h3><%= @category.description %></h3>

<ul>
  <%= render partial: "post_link", collection: @category.ordered_posts(@region), as: :post, locals: {region: @region} %>
</ul>

<% if current_user.admin? %>
  <%= button_to "Edit Category", edit_region_category_path(@region, @category), method: :get %>
  <%= button_to "Delete Category", region_category_path(@region, @category), method: :delete %>
<% end %>
