<%= form_for region do |form| %>

  <%= render partial: "app/errors", locals: { object: @region } %>

  <div class="name-input">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="submit">
    <%= form.submit %>
  </div>

<% end %>
