<%= button_to "Create Post", new_region_post_path(@region), method: :get %>

<h2><%= @region.name %></h2>

<% if current_user.admin? %>
  <%= button_to "Edit Region", edit_region_path(@region), method: :get %>
  <%= button_to "Delete Region", region_path(@region), method: :delete %>
<% end %>

<h3>Categories</h3>

<ul>
  <% @categories.each do |category| %>
    <li><%= link_to category.name, [@region, category] %></li>
  <% end %>
</ul>

<%= paginate @categories %>

<% if current_user.admin? %>
  <%= button_to "New Category", new_region_category_path(@region), method: :get %>
<% end %>
